{% extends 'home.html' %} {% block title %}Quantification{% endblock %} {% block
content %}
<h1>Quantification | Score: {{score}}/10</h1>
<div class="cont">
  <div class="container">
    <h2>Summary</h2>
    <ul style="list-style: none">
      {% for point in left %}
      <li>{{ point|replace('\n', '<br />')}}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="container">
    <h2>Modifications</h2>
    <ul style="list-style: none">
      {% for point in right %}
      <li>{{ point|replace('\n', '<br />') }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
